html,body{
  height: 100%;
  overflow: hidden;
}
body{
  margin: 0;
  color: $color-font-primary;
  background-color: #fcfcfc;
}
ul,ol,p{
  margin: 0;
  padding: 0;
  list-style: none;
}
a,a:hover,a:focus,a:visited{
  text-decoration: none;
  color: inherit;
}
