
.slides__item[data-v-30c9db4a] {
  height: 80px;
  text-align: center;
  line-height: 80px;
}
.slides__item-1[data-v-30c9db4a] {
    background-color: #6fa3f3;
}
.slides__item-2[data-v-30c9db4a] {
    background-color: #067ffa;
}
.slides__item-3[data-v-30c9db4a] {
    background-color: #48c6b0;
}

