
.absolute-box[data-v-72643fe1] {
  position: relative;
}
.absolute-box_row[data-v-72643fe1] {
    width: 200px;
    height: 20px;
    margin: 0 auto;
}
.absolute-box_column[data-v-72643fe1] {
    height: 50px;
    text-align: center;
}

