
.cell[data-v-09bc211c] {
  color: #5f5f5f;
  text-align: center;
  box-sizing: border-box;
  font-size: 24px;
  margin: 5px 0;
}
.cell__label[data-v-09bc211c] {
  display: block;
  font-size: 12px;
}

